<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>模块</th>
      <th>正答率</th>
      <th>数学初中秋季复习章规则</th>
      <th>是否测试通过</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>测试模块</td>
      <td>0.0</td>
      <td>● 第一题对，算掌握。第一题错，算未掌握</td>
      <td>(pass,)</td>
    </tr>
    <tr>
      <td>学习模块</td>
      <td>0.0</td>
      <td>● 视频：1个● 互动题：最多1道（没有则跳过）● 混合推题：5道（学+测【优先学习题】）●初中做完2题后判定能力值是否达标，学种&amp;学苗&amp;学中&amp; 学霸能力值&gt;=0.7，最多做5-8题如果此时仍然没达标，则将知识点放回重学隔离池</td>
      <td>(pass,)</td>
    </tr>
    <tr>
      <td>重学习模块</td>
      <td>0.0</td>
      <td>● 视频&amp;讲义：1道● 混合推题（学+测）：5道\t○ 从第二题开始判断，能力值&gt;=0.7算达标。○ 以下情况知识点立刻判定重学放弃，进入顽固知识点隔离池 ■ 前两道正答率=0% ■ 做五道题能力值依然低于0.7</td>
      <td>(pass,)</td>
    </tr>
  </tbody>
</table>